####-*.patch
*.pyc
*.swp
build/
dist/
zephyr_code/locale/
.devlocaltmp/
*_trial_temp
packages
env*/
env
.tox/
.buildozer/
bin/
/app.fil

# tox files
.cache/
.pytest_cache/
.coverage

zephyr_data/
*.egg-info/
