include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include zephyr.desktop
include *.py
include zephyr
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
recursive-include packages *.py
recursive-include packages cacert.pem

graft zephyr_code
prune zephyr_code/tests

global-exclude __pycache__
global-exclude *.py[co~]
global-exclude *.py.orig
global-exclude *.py.rej
